<!DOCTYPE html>
<html>
  <head>
    <title>Hola</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css'>
  </head>
  <body>

  <h1 class="text-center">MATRICULA DE UN CURSO</h1>
 <br>
  <br>
  <h2 class="text-center">Seleccione un curso</h2>
  <div class="form-group" >
    <BR>
    <BR>
    <BR>
    <BR>
    <div id="divcursos">
    <label for="cursos">Cursos</label>
   
    <form action="/modulos" >
      <select class="form-control" name="cursos">
        <option value="JAVA">JAVA</option>
        <option value="PHP">PHP</option>
        <option value=".NET">.NET</option>
      </select>
      </br>
      <input type="submit" value="Siguiente" formmethod="POST"  class="btn btn-primary btn-lg btn-block"/>
    </form>
<br>
   
  </div>
  </div>
  </body>
</html>
