<!DOCTYPE html>
<html>
  <head>
    <title>Hola</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css'>
  </head>
  <body>

  <h1 class="text-center">MATRICULA DE UN CURSO</h1>
 <br>
  <br>
  <h2 class="text-center">Seleccione un curso</h2>
  <div class="form-group" >
    <BR>
    <BR>
    <BR>
    <BR>
    <div id="divcursos">
    <label for="cursos">Cursos</label>
   
    <select class="form-control" id="cursos">
      <option>JAVA</option>
      <option>PHP</option>
      <option>.NET</option>
    </select>
  
<br>
    <a href="/modulos"><button class="btn btn-primary btn-lg btn-block">Siguiente</button></a>
  


  </div>
  </div>
  </body>
</html>
