<!DOCTYPE html>
<html>
  <head>
    <title>MODULOS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css'>
  </head>
  <body>
  <h1 class="text-center">MATRICULA DE UN CURSO</h1>
 
  <br>
  <h2 class="text-center">Seleccione nivel</h2>
    <BR>
    <BR>
    <BR>
    <BR>
      <form action="/pago" >
        <div class="d-flex justify-content-center"id="#divmodulos">
        <div class="form-check form-check-inline ">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="nivel" value="Basico">
            <label class="form-check-label" for="inlineCheckbox1">Basico</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="nivel" value="Intermedio">
            <label class="form-check-label" for="inlineCheckbox2">Intermedio</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="nivel" value="avanzado">
            <label class="form-check-label" for="inlineCheckbox3">Avanzado</label>
          </div>
          
        </div>
      </br>
      <input type="submit" value="Siguiente" formmethod="POST"  class="btn btn-primary btn-lg btn-block"/>
      </form>

</html>
